.background2 {
  width: 100%;
  background-image: url(/img/top-view-desk-with-office-supplies_23-2148110228);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
